/* .selectDiv{
    margin: 0 20px;
} */

.selectDiv select{
    border: 2px solid var(--primary);
    outline: none;
    width: 200px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.542);
    margin: 0 5px;
    cursor: pointer;
    /* background-color: transparent; */
}

.selectDiv i{
    color: var(--primary);
    font-size: 25px;
    margin-right: 50px;
}

.settings{
    animation: setting 2s ease-in-out infinite;
}

@keyframes setting {
    0%{
        transform: rotate(360deg);
    }

    100%{
        transform: rotate(0deg);
    }
}


